{
  "printWidth": 100,
  "singleQuote": true,
  "plugins": ["prettier-plugin-sql"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.sql",
      "options": {
        "parser": "sql",
        "language": "postgresql",
        "keywordCase": "upper"
      }
    }
  ]
}
